<div class="home">
    <div class="home__header">
        <div class="home__header_logo">
            <img src="../../assets/img/logo3chan2.svg" alt="No">
        </div>
        <div class="home__header_text">
            3chan
        </div>
    </div>
    <div class="home__message">
        <div class="home__message_title">
            What is 3chan?
        </div>
        <div class="home__message_content">
            3chan is a simple image-based bulletin board where anyone can post comments and share images. Users do not
            need to register an account before participating in the community. To start a new thread, you must upload an
            image. When replying to an already existing thread, no attachment is required.
        </div>
    </div>

    <div class="home__boards">
        <div class="home__boards_title">
            Boards
        </div>
        <div class="home__boards_list">
            <div class="home__boards_list_group">
                <div class="home__boards_list_group_title">
                    Miscellaneous
                </div>
                <div class="home__boards_list_group_item">
                    <a href="#">Random</a>
                </div>
                <div class="home__boards_list_group_item">
                    <a href="#">International</a>
                </div>
            </div>
            <div class="home__boards_list_group">
                <div class="home__boards_list_group_title">
                    Interests
                </div>
                <div class="home__boards_list_group_item">
                    <a href="#">Technology</a>
                </div>
                <div class="home__boards_list_group_item">
                    <a href="#">Vehicles</a>
                </div>
                <div class="home__boards_list_group_item">
                    <a href="#">Science</a>
                </div>
            </div>
        </div>
    </div>
</div>