@font-face {
    font-family: 'CreatoDisplay-Black';
    src: url(../assets/fonts/CreatoDisplay-Black.otf);
}

@font-face {
    font-family: 'CreatoDisplay-Bold';
    src: url(../assets/fonts/CreatoDisplay-Bold.otf);
}

@font-face {
    font-family: 'CreatoDisplay-ExtraBold';
    src: url(../assets/fonts/CreatoDisplay-ExtraBold.otf);
}

@font-face {
    font-family: 'CreatoDisplay-Light';
    src: url(../assets/fonts/CreatoDisplay-Light.otf);
}

@font-face {
    font-family: 'CreatoDisplay-Medium';
    src: url(../assets/fonts/CreatoDisplay-Medium.otf);
}

@font-face {
    font-family: 'CreatoDisplay-Regular';
    src: url(../assets/fonts/CreatoDisplay-Regular.otf);
}

@font-face {
    font-family: 'CreatoDisplay-Thin';
    src: url(../assets/fonts/CreatoDisplay-Thin.otf);
}